:root {
  --fn-zero-percentage: 0%;
  /* The var that will switch between different theme mode */
  --fn-sys-color-switch: var(--fn-ref-palette-white);
  --fn-sys-color-switch-reverse: var(--fn-ref-palette-black);
  --fn-sys-color-disabled-level-0: rgb(
    var(--md-sys-color-on-surface-rgb) /
      var(--md-sys-state-disabled-state-layer-opacity)
  );
  --fn-sys-color-disabled-level-1: rgb(
    var(--md-sys-color-on-surface-rgb) / 0.12
  );
  --fn-sys-color-ripple: var(--fn-sys-color-switch);
}

:root[data-theme='dark'] {
  /* The var that will switch between different theme mode */
  --fn-sys-color-switch: var(--fn-ref-palette-black);
  --fn-sys-color-switch-reverse: var(--fn-ref-palette-white);
}
