:root {
  --fn-zero-percentage: 0%;
  /* The var that will switch between different theme mode */
  --fn-sys-color-switch: var(--fn-ref-palette-white);
  --fn-sys-color-switch-reverse: var(--fn-ref-palette-black);
  --fn-sys-color-disabled-level-0: color-mix(
    in srgb,
    var(--md-sys-color-on-surface)
      var(--md-sys-state-disabled-state-layer-opacity-percentage),
    var(--fn-sys-color-switch) var(--fn-zero-percentage)
  );
  --fn-sys-color-disabled-level-1: color-mix(
    in srgb,
    var(--md-sys-color-on-surface) 12%,
    var(--fn-sys-color-switch) var(--fn-zero-percentage)
  );
  --fn-sys-color-ripple: var(--fn-sys-color-switch);


  --md-sys-color-success: rgb(56, 142, 60);
  --md-sys-color-info:  rgb(2, 136, 209);
  --md-sys-color-warning: rgb(237, 108, 2);
  --md-sys-color-error: rgb(211, 47, 47);

  --md-sys-color-success-container:rgb(237, 247, 237); 
  --md-sys-color-info-container:rgb(229, 246, 253);
  --md-sys-color-warning-container:rgb(255, 244, 229); 
  --md-sys-color-error-container: rgb(253, 237, 237);

  --md-sys-color-success-container-filled:#2e7d32; 
  --md-sys-color-info-container-filled:#0288d1;
  --md-sys-color-warning-container-filled:#ed6c02; 
  --md-sys-color-error-container-filled: #d32f2f;

  --md-sys-color-on-success: rgb(30, 70, 32);
  --md-sys-color-on-info: rgb(1, 67, 97);
  --md-sys-color-on-warning: rgb(102, 60, 0);
  --md-sys-color-on-error: rgb(95, 33, 32) !important;
}

:root[data-theme='dark'] {
  /* The var that will switch between different theme mode */
  --fn-sys-color-switch: var(--fn-ref-palette-black);
  --fn-sys-color-switch-reverse: var(--fn-ref-palette-white);

  --md-sys-color-success: rgb(237, 247, 237);
  --md-sys-color-info: rgb(229, 246, 253);
  --md-sys-color-warning: rgb(255, 244, 229);
  --md-sys-color-error: rgb(253, 236, 234);

  --md-sys-color-success-container:rgb(12, 19, 13);
  --md-sys-color-info-container:rgb(7, 19, 24);
  --md-sys-color-warning-container:rgb(12, 19, 13);
  --md-sys-color-error-container: rgb(22, 11, 11) !important;

  --md-sys-color-success-container-filled:rgb(56, 142, 60); 
  --md-sys-color-info-container-filled:rgb(2, 136, 209);
  --md-sys-color-warning-container-filled:rgb(245, 124, 0); 
  --md-sys-color-error-container-filled: rgb(211, 47, 47);

  --md-sys-color-on-success: rgb(204, 232, 205);
  --md-sys-color-on-info: rgb(184, 231, 251);
  --md-sys-color-on-warning: rgb(255, 226, 183);
  --md-sys-color-on-error: rgb(244, 199, 199) !important;

}
