html {
  margin: 0;
  padding: 0;
}

body {
  padding: 16px;
  min-height: 100vh;
  background-color: var(--md-sys-color-background);
}

header {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  gap: 16px;
}

.content + .content {
  margin-top: 16px;
}
