@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 16px;
  min-height: 100vh;
}

header {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.content {
  display: flex;
  gap: 16px;
  /* flex-direction: column; */
}

.content + .content {
  margin-top: 16px;
}

.grid-item {
  border: 1px dashed #333;
  text-align: center;
  font-size: 30px;
  display: grid;
  place-items: center;
  &:hover {
    color: #584493;
    font-weight: bold;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 216px);
  gap: 14px 14px;
}
