.fn-icon-button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  padding: 8px;
  border-radius: 50%;
  height: fit-content;
  color: var(--fn-icon-button-color);

  &[disabled] {
    cursor: default;
    color: var(--fn-sys-color-disabled-level-0) !important;
  }

  @media (any-hover: hover) {
    &:not([disabled]):hover {
      background-color: rgb(
        var(--fn-icon-button-color-rgb) /
          var(--md-sys-state-hover-state-layer-opacity)
      );
    }
  }
}
