.fn-list-item {
  display: flex;
  align-items: center;
  gap: 16px;
  &--text {
    flex: 1 1 auto;
  }
  &--leading {
    &.fn-icon,
    &.fn-list-item--icon {
      font-size: 24px;
      color: var(--md-sys-color-on-surface-variant);
    }
    &.fn-list-item-placeholder {
      width: 24px;
    }
  }
  &.fn-action-area--disabled,
  &[disabled] {
    * {
      color: var(--fn-sys-color-disabled-level-0);
      opacity: 1;
    }
  }
  &:not(.fn-action-area) {
    &.fn-list-item--highlight {
      background-color: var(--md-sys-color-primary-container);
      &[disabled] {
        background-color: color-mix(
          in srgb,
          var(--md-sys-color-primary-container) 38%,
          var(--fn-sys-color-switch)
        );
      }
    }
  }
}
