[data-theme="light"] .fn-radio,
.fn-radio[data-theme="light"] {
  --fn-default-text-color: #374151;
  font-size: 14px;
}

[data-theme="dark"] .fn-radio,
.fn-radio[data-theme="dark"] {
  --fn-default-text-color: #afbdd5;
  font-size: 14px;
}
